extends ../base

block prepend nav
	- var location = "Profile";
	- var sublocation = "Display";

block content

	img(src="/profile/getpic", height="100px")
	h2 #{user.name}

	.inforow
		if user.emails.length > 0
			if user.emails.length > 1
				h5.infolabel Emails:
				ul
					each email in user.emails
						li
							.info #{email.email}
								unless email.verified
									span.infonote  Unverified! 
										a(href="/email/verify/send/" + email.id) Resend verification

			else		
				label.infolabel Email: 
				- var email = user.emails[0]
				span.info= email.email
				unless email.verified
					span.infonote  Unverified! 
						a(href="/email/verify/send/" + email.id) Resend verification
		else
			span.infomissing No emails attached - you should 
				a(href="/profile/edit") add one
				|  in case you need to recover your account!
