<html>
  <body>
  	<div id="wrapper">
  		<div id="content">
		    <h1>Welcome to Project Maelstrom!</h1>
			<h2>You've taken the first step. Now take the next one.</h2>
			<p>Come back to us at the <a href="<%= returnUrl %>">Maelstrom Network homepage</a>. You've created your account, next lets put it to work for you. We've got a few
				features you can take advantage of immediately:</p>
			<ul>
				<li><a href="<%= returnUrl %>">Verify this email address</a></li>
				<li>Update your preferred name</li>
				<li>Link other accounts from Facebook or Twitter so you can sign in with them as well</li>
				<li>Upload a profile picture</li>
				<li>Find other websites and applications on the Maelstrom Network</li>
				<li>Develop your own sites and apps against the Maelstrom Network</li>
			</ul>
			<p>So <a href="<%= returnUrl %>">come on back</a> and check out all we have to offer!</p>
		</div>
	</div>
  </body>
</body>
