@import "index.less";

.loginstatus, .nav {display: none;}

.greeting {
	h2 {
		color: @highlight;
	}
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 50px;
	font-size: 1.2em;
	.actionbuttons { margin-bottom: 15px; }
}

.leftBlurb {float: left; width: 45%; padding-right: 5%; margin-right: 5%; border-right: 1px solid black;}
.rightBlurb {float: right; width: 45%; margin-right: -1px;}

.loginbuttons {clear: both; text-align: center; padding-bottom: 15px; border-bottom: 1px solid #CCC; padding-top: 15px;}
form {margin-bottom: 15px;}

.content .button {margin-right: 10px;}
.logout.button {margin-left: 10px;}

.greeting .permissions {
	text-align: left;
	position: relative;
	margin-left: -25%;
	left: 50%;
}
