<html>
  <body>
  	<div id="wrapper">
  		<div id="content">
		    <h1>Project Maelstrom</h1>
			<h2>Email Verification</h2>
			<p><a href="<%= returnUrl %>">Click to verify your email now</a> or go to this URL: <%= returnUrl %></p>
			<p>You (or someone claiming to be you) requested that this email be verified. If this was not your intent you can ignore this email.</p>
		</div>
	</div>
  </body>
</body>
