extends ../base

block content

	h2 Contact Us

	h4 Network Support

	a(href="mailto:network.support@projectmaelstrom.com") network.support@projectmaelstrom.com

	p Contact network support with issues regarding your Maelstrom Network account or use of third party applications. We'll respond as soon as we can. Including
		| a detailed description of your problem will help us solve it faster!

	h4 Developer Support

	a(href="mailto:developer.support@projectmaelstrom.com") developer.support@projectmaelstrom.com

	p Contact developer support with issues regarding the creation, management, and integration of your Maelstrom applications. We'll respond as soon as we can.
		| Including a detailed description of your question or problem will help us solve it faster!

	h4 General Contact

	a(href="mailto:contact@projectmaelstrom.com") contact@projectmaelstrom.com

	p Use this mailing address for general questions, comments, etc. regarding Project Maelstrom and the Maelstrom Network. We'll respond when we can, but will
		| prioritize support issues.

	h4 Job Opportunities

	p We aren't hiring right now - ok, fine, I'll drop the act. It's really pretty much just me at the moment. But if you'd like to be considered whenever I/we do
		| decide to take on additional help, 
		em and you are in the Austin, Texas area... 
		| drop me a line at the general contact address above. Or just contact me if you'd like to sit back, grab a beer, and discuss the future of the Project.
		| I'm pretty relaxed like that.

	h4 Investment Opportunities

	p I'm not looking fsor investment right now, either. But, if you're interested in the project and would like to talk when the time for investment is right,
		| again drop a line at the general contact address above. The time will come soon that I need more resources than are available to me and I'll need to
		| show up on someone's doorstep. Why not make it yours!