extends ../base

block content

	h2 Developer Terms and Conditions

	p As a third party application developer, you are bound by certain additional conditions regarding your creation and use of applications, and use of resources
		| you may be given access to. These conditions are designed to give the user maximum freedom regarding their decisions to allow (or not) your applications
		| to access their resources. The provisions below give specifics, but so long as you always respect a users' decision, you should in general be in
		| compliance with these provisions.

	p We may change these terms from time to time by updating this page. Should we consider a change to be substantially and materially different from a previous
		| version of the document, we will make an honest attempt to contact you through the most convenient means available to us. 
		| This document was last updated September 1
		sup st
		| , 2012.

	h4 Who can create applications?

	p Any user can create applications unless otherwise restricted due to prior unresolved infringement of these provisions. The creating user will be considered
		| the owner of the application and legally responsible for it and users' use of any related services. Ownership may be transferred to another user upon
		| agreement by both parties by contacting Network Support.

	h4 What kinds of applications can I create?

	p You can create whatever applications you desire and have the technical capabilities to. Your application must not violate other provisions in this document,
		| the general 
		a(href="/terms", target="_blank") Terms and Conditions
		| , or operate contrary to 
		a(href="/pledge", target="_blank") our Pledge
		| . Additionally, your application must not attempt to exploit any vulnurabilities in the Maelstrom Network or any 
		| other service, including technology any user may be utilizing.

	p The only general restriction on functionality is that your application must do what it says - no less, and with no 'hidden' functions that may not be 
		| requested by the user. You are responsible for representing to the user what your application does and are liable for any claims if you misrepresent
		| your application, especially if you require payment for your services.

	h4 How much does it cost to create an application?

	p Creating and using a basic application is, and will remain, completely free. Many resources made accessible via the Maelstrom Network will be free, but
		| certain planned functionality can and will be a paid service. Finally, we reserve the right to begin charging for any service, resource,
		| or other functionality currently free. Applications currently utilizing any functionality that we start charging for which was previously free
		| will be given a one month grace period to either sign up for the paid service or discontinue use of the deprecated free service.

	h4 Who can I share my application with?

	p You may only share your application, including the application's Secret Key, with users in your organization or directly related to the functionality of
		| your application. You shall not share your application, access to authorize based on your application, or administration of your application with any
		| third party unless they are directly related to operating or developing your application. For example, you may contract an agency to build an application
		| for you, but you cannot share an application's ID and/or secret key with others in order to allow all parties to gain access to authorized resources.

	p You must not share your secret key other than described above and are solely responsible for any claims or damages that may result from unauthorized release,
		| distribution, or access to your secret key or application. Should you inadvertently allow unauthorized parties to know your secret key, you must
		| generate a new secret key from the application edit page as soon as possible. You acknowledge that this will prompt us to invalidate all existing 
		| access tokens which will need to be re-requested, but will not invalidate permissions your application has been given.

	h4 What happens to my applications if I violate these terms?

	p Violation of these terms may result in the cessation of functionality provided
		| to your application by the Maelstrom Network until we reach an amicable agreement regarding your application. In cases of minor violations we will
		| attempt to contact you and resolve them prior to disabling your application, but if there are major or systematic violations we reserve the right to
		| terminate service immediately. 

	h4 What access to resources can my application request? How do I request these resources?

	p Your application may request any resources available through the Maelstrom Network, in the manner described in the developer documentation. Should your
		| application solicit any access or information outside of that provided by the Maelstrom Network, it must make clear that the resources are not being 
		| transmitted to or from the Maelstrom Network and must not attempt to decieve the user into believing they are operating with the Network.

	h4 What can I do with information or resources once provided by the user?

	p In general, you may do the minimum neccesary with the provided resources to allow for the functionality of your application. For example, should you be
		| provided with access to file storage, you may read documents from it as directed by the user, but you must not access documents without express
		| direction. In particular, your application must follow these guidelines:

	ul 
		li You must not attempt to maintain access to resources after access is revoked.
		li You must not attempt to gain access to resources not directly granted by the user.
		li You must not transfer access, or information gained from access, to any other party, such as advertisers, marketers, or resellers, unless
			| directly involved in the operation of your application. If information or access is to transferred, you must clearly mention any and all other parties
			| that will also gain this access in a manner that is obvious to the user 
			strong before they grant access
			| . Any other party receiving access is also
			| bound by these same conditions and you are to be held solely responsible for their actions with respect to access provided to them.
		li You must not sell access or information obtained through the Maelstrom Network for any reason. Should you as a company merge or be aquired you may
			| continue to use obtained access and information for the continued purpose of the relevant application only.
		li You must not use any information gained from any access you may have to attempt to link users' activities across two or more applications
			| on the Maelstrom Network unless explicitly provided that ability via the "globally unique identifier" access request as described in the
			| developer documentation.
		li You must not use any information gathered outside of the Maelstrom Network, including but not limited to tracking cookies, to purposefully track users' 
			| activities and Maelstrom Network information across two or more applications without express notification and permission to do so in your application. 
			| While your application may use this other information for purposes such as analytics and usage tracking, it must remain effectively separated
			| from any Maelstrom Network information. You should not, for example, feed Maelstrom Network information into an analytics provider.
		li If you cease using the Maelstrom Network or we disable your application, you must delete any information regarding Maelstrom Network resources.

	h4 What happens when a user revokes access to a resource, or my application entirely?

	p When a user revokes access to some or all of the resources available to your application, you must immediately relinquish any ongoing access or attempts
		| to access the resources in question. Additionally, you should delete all information you may have stored
		| regarding those resources. This includes erasing personal information from your records and deleting any copies of files that you may have
		| had access to. Note this deletion requirement does not cover the ID you will recieve from the network: You may retain this if desired.
	p If a user revokes permission to your application entirely, you will no longer be able to access any resources, and all your access tokens will be invalidated.
		| However, if the user authenticates with your application again, you will recieve the same identifier as before. If you desire to make your application
		| function in a manner that will allow the user to continue using the application exactly as before with saved states, you may do so as long as it does not
		| violate any other provisions of this document, including requirements to delete other information provided by the network.

	h4 Who is responsible for legal claims regarding my application?

	p You are solely responsible for any and all legal claims regarding your application, and you agree to idemnify and hold us harmless from and against all damages,
		| losses, and expenses of any kind, including reasonable legal fees, related to such claim. Should we recieve a claim against your application, you
		| authorize us to provide any available means to identify you as a defendant.
