extends ../base

block content

	h2 The Maelstrom Pledge

	p If you are going to trust us with administering your data and personal information, we think it's important we make it perfectly clear what we want to deliver.
		| This will keep us honest, and keep you informed. Our pledge serves as a guideline to how we formulate our terms and conditions and how we think about
		| developing future features and improve existing functionality. Additionally, we ask that all third party applications operating with the Maelstrom
		| Network be held to this pledge as well.
	p If you see us breaking our pledge, call us out on it and we'll do our best to correct it as soon as possible. If an application is breaking our pledge, let us
		| know and we will attempt to resolve the situation.


	.pledgeblock
		h3 We are honest.
		p This one is at the core of our ideology and is our most important pledge to you. We'll never wilfully mislead you or lie to you about our 
			| intentions. We will not intentionally engage in 'shady' tactics, such as deceptive user experiences or hidden opt-out actions, in order 
			| to subvert your decisions.

		h3 We are transparent.
		p We will never try and hide vital information from you. We will always make it perfectly clear where your protected resources, such as data or money,
			| are going at all times. If something goes wrong, we will attempt to inform affected parties and correct our failure as quickly as we can 
			| rather than hoping you won't notice.

		h3 We are dependable.
		p We will never disburse your private, individual information to third party interests without your express permission. We will
			| relay your information to third parties as quickly and reliably as we can when you so desire, and keep it a secret when you do not. We will
			| constantly strive to keep the service available with minimal interruptions. We will do all we can to protect your resources from malicious third-party
			| applications or hackers.

		h3 We are open.
		p We respect people's right to disagree. We will, in general, allow any user or third party to access the service regardless of race, gender identification,
			| sexual orientation, creed, national origin, political affiliation, income, or background. 
			| However, we do reserve the right to restrict or prevent access to our Network by parties that advocate or participate in any of the following, whether
			| on or off our service:
		ul
			li Violence or abuse on any scale
			li Grossly unlawful conduct
			li Ongoing hatred or intolerence towards others
			li Willful infringement of anothers' human rights and freedoms.


