extends ../base

block content

	h3 Privacy Policy
	p This privacy policy sets out how the Maelstrom Network collects, uses, and protects any resources (such as data, personal information, and access to funds)
		| you give us as part of your use of the Network. Guidance for the formulation of this privacy policy is provided in part by 
		a(href="/pledge", target="_blank") our Pledge
		| . Project Maelstrom and the Maelstrom Network are here to ensure your privacy is protected. Information you provide voluntarily to the Network will be 
		| stored, protected, and transferred in accordance to these policies.
	p We may change this policy from time to time by updating this page. Should we consider a change to be substantially and materially different from a previous
		| version of the privacy policy, we will make an honest attempt to contact you through the most convenient means available to us. 
		| This privacy policy was last updated September 1
		sup st
		| , 2012.

	h4 What does the Maelstrom Network collect?
	p As of this writing, we have the capabilities of collecting the following information as part of your use of the Network:
		ul
			li Full Name (May be provided automatically by a third party authentication you connect with)
			li Email Address
			li Technical information about your use of the Network, including what authentication methods you have connected with
	p Other than as noted above, we do not make any attempt to connect, scrape, or otherwise find out information about you in any manner outside of you directly
		| volunteering said information. We may from time to time collect other information through voluntary surveys. Participation
		| in these services is not required for continued use of the Maelstrom Network and is solely for the improvement of our service offerings.
	P We do not consider the future direct, voluntary collection of additional information about you as part of your use of this service to materially modify this
		| privacy policy as you will be fully aware of our collection of this information. Should we add further capabilities to gather any information about you
		| without your direct input of the information to our Network, we will consider this a material change and attempt to notify you.

	h4 What do you do with this information?
	p Our collection of your information is primarily for the purposes of serving as a trusted distributor of this information, and other resources, to 
		| third parties at your direction. The Maelstrom Network is designed such that, should you not elect to provide any information to a requesting party other
		| than your login information, the application will only recieve an identifier unique to that application and cannot be directly tied to you.
		| Should you provide additional information to applications they may be able to use this information to build a personal profile about you which is outside 
		| of the control of the Maelstrom Network.
	p We may use contact information, such as email, to inform you of material changes to our service. Though we strongly encourage you to do so, providing contact
		| information is strictly voluntary. Contact information will not be provided to any third parties without your permission.
	p We may use your information to improve our own products. Additionally, we may provide to third party applications demographic information about their user base.
		| This information will only be provided in an aggregate format and will never be provided in such a way that any personally identifiable information may
		| be discerned by the third party application that was not expressly authorized by you to be provided.

	h4 How do you secure my resources?
	p The security of your resources under control of the Maelstrom Network is paramount to us. In order to protect access to your resources, we have implemented
		| following disclosed security measures. In addition, we may have additional, undisclosed security measures protecting your information. In order to better
		| allow us to provide this protection, we may not always be able to fully disclose information about all security measures in place.
	ul
		li We have in place managerial protections around our internal use of your resources. We will never internally use your resources outside of the bounds of
			| this policy and take steps to ensure even our internal users do not have improper unauthorized access to your resources.
		li We have in place electronic security around the resources hosted by the Maelstrom Network. We take care to ensure no unauthorized outside access
			| can be made to your resources.
		li Security information about you, including your passwords and connections to third-party authentication services, are encrypted with industry-standard
			| methods. We do this such that in an unfortunate circumstance our electronic security measures are bypassed, your secure information is still not
			| neccesarily exposed. When possible (such as with passwords), we will protect information with one-way hashing algorithms to further reduce the
			| liklihood of a successful attack.
		li We have taken care to design the Network in such a way that it is difficult for third parties to gain access to resources they are not authorized by you
			| to recieve. We make every attempt to prevent third parties from gaining access via exploits or deception.

	p We do not consider the future addition of increased security measures to materially modify this policy, though if these measures are publicly
		| disclosable and of interest to users it is likely we will announce them.

	h4 How do you use cookies? Can I decline to use them?
	p Cookies are small files placed on your computer by web pages; these files in no way allow any control or access to your computer. Maelstrom Network requires
		| the use of cookies to log in and function. Should cookies be disabled in your browser, you will be unable to access your Maelstrom Network account.
		| Additionally, any third party web sites and applications that you may use with the Maelstrom Network may cease to function properly.
	p We use cookies to track your login status to the Maelstrom Network. This login status is critical to allowing us to uniquely identify you as a user and ensure
		| others do not have access to your account. Due to technical limitations, you will not be able to use the Maelstrom Network should you decline
		| our cookies.

	h4 How can I control my resources held by the Maelstrom Network?
	p Your information and resources can be controlled in several different ways, depending on the nature of the resource. Should you be unable to control your
		| information as desired or wish to completely erase all information known about you and shut down your account, please contact Network Support. Shutting
		| down your account will be done in accordance with our 
		a(href="/terms", target="_blank") Terms and Conditions.
	p Information that is personally identifiable, demographic in nature, or can be used to contact you may be edited through your 
		a(href="/profile/edit", target="_blank") Profile Page
		| . Note that certain information, such as your preferred name, is required but may be obscured. 
	p Information about third-party authentication methods such as Facebook or Twitter may be controlled from the 
		a(href="/profile/linked", target="_blank") Linked Accounts
		|  page.
	p Ability to use and control other resources, such as files or funds, may be introduced to the Maelstrom Network in the future. These resources will have their
		| own control methods and the Privacy Policy will be updated to describe these methods at that time. The update to the privacy policy will be announced in
		| conjunction with the announcement of new features and will not otherwise be communicated unless there are other material changes.

	h4 How can I control how my resources are provided to third parties?
	p Resources will be provided to third party applications only at your direction. Access to your resources by applications may be revoked at any time through the 
		a(href="/apps", target="_blank") Manage applications
		|  panel. Upon revokation, applications will immedately cease to have further access to any resources, such as data about you, files, or ability to charge
		| your account. However, it is technically impossible for us to force applications to delete any files or data they have previously retrieved. 
	p We will never intentionally provide any unique personal information about you to third parties except as directed by you or required by law. Additionally, we
		| reserve the right to provide information to law enforcement in a manner not expressly required or prescribed by law in a case we reasonably believe to be
		| an emergency, such as to prevent harm to a child, or death or serious injury to any person.
	p In the case we recieve a legal or emergency request for your information, we will make every reasonable attempt to contact you before discloure unless 
		| prevented by statute or court order. In an emergency request situation, we will attempt to contact you upon request, but will provide the information
		| in a manner that befits the expediency if you are not immediately responsive.
	p We will not respond to requests for information from individuals outside of law enforcement. Should you require information about another user, you are required
		| to go through proper legal channels. This includes emergency situations.
 
