extends ../base

block content

	h2 Terms and Conditions - Short version

	p Part of our thought process is to keep everything transparent and easy to understand, in accordance with 
		a(href="/pledge", target="_blank") our Pledge
		| . As such, we've compiled our terms and conditions down into a few 
		| important points. The full Terms and Conditions you are actually agreeing to are below and we do recommend you read them, but here's the highlights:

	ul
		li Read our 
			a(href="/privacy", target="_blank") Privacy Policy
			|  for information regarding what information we collect and where it goes.
		li One account per individual. Do not create multiple accounts, even for 'work' identities. Do not share accounts.
		li While you are not required in general to provide any information, any information you do give must not be falsified.
		li You have the authority to disable or delete your account by contacting Network Support.
		li The Maelstrom Network cannot be held responsible for any action taken by a third party in relation to their or your use of our service.
		li You use our services at your own risk, and agree not to hold us responsible for any damages that you may incur related to your use of
			| the Maelstrom Network.
		li The Maelstrom Network operates under the laws of Travis County, Texas, and all claims against us must be legislated by courts therein.

	p If you are concerned that these highlights are not an approximate reflection of the below full terms and conditions, please do not hesitate to contact us.

	h2 Terms and Conditions - Full

	p This terms and conditions document determines the extent and nature of the relationship between the Maelstrom Network and you as a user. By using and accessing
		| the Maelstrom Network and maintaining an active Maelstrom account, you agree to the provisions of this document. Should you not agree to these provisions,
		| you may not create an account or otherwise utilize the Network. If you have already created an account and wish to terminate your use you may do so as
		| outlined below.

	p We may change these terms from time to time by updating this page. Should we consider a change to be substantially and materially different from a previous
		| version of the document, we will make an honest attempt to contact you through the most convenient means available to us. 
		| This document was last updated September 1
		sup st
		| , 2012.

	h4 What governs my use of the network without logging in?

	p If you do not create an account and connect to the Maelstrom Network, or are not currently logged in to your account, you are not considered a participant in
		| the network. We will not collect nor transmit any information about you until such a point that you
		| are a logged in user. Should a third party application not have any other login, authentication, or subscription method beyond the Maelstrom Network,
		| you will be unable to use those services.

	h4 What information is collected and how is it stored, protected, and transmitted?

	p See our 
		a(href="/privacy") Privacy Policy
		|  for information regarding your personal information and resources. In general, we will not transmit your information to any third parties without your
		| express permission or as required by law.

	h4 What restrictions are there on who can create a Maelstrom account?

	ul
		li Any person above the age of 13 may create a single Maelstrom account. One individual may only have one account.
		li You will not create an account for someone else or with the intent of impersonating someone else.
		li While you are not under any obligation to provide any information beyond a preferred name, you may not create an account with the intent to
			| provide falsified information.
		li You will not buy, sell, or otherwise transfer usage of accounts for any reason. Your account is for your own use only.
		li In the event that we disable or restrict your account for any reason, you may not create another to bypass the restrictions.

	p You may create accounts for testing purposes. All test accounts must have a "TEST" prefixed in uppercase to the desired name. It should have a real email 
		| address tied to the account in the event we need to contact someone about the use of the test account. We reserve the right to change our policy 
		| regarding test accounts in the future.

	h4 What conditions are there on maintaining an active Maelstrom account?

	ul
		li Any information provided must be factual and reasonably up-to-date. Information may not be intentionally falsified and we may go through
			| measures to verify it from time to time. The sole exception to this is information that is subjective, such as preferred name.
		li You will not make any attempt to bypass any security measures we may have or intentionally access any data you are not given permission to access.
		li You will not use your account to engage in any unlawful activity.
		li If you use your Maelstrom account to create and manage third party applications on the Maelstorm platform, you also agree to the 
			a(href="/devterms", target="_blank") special conditions
			|  on developers.

	h4 How am I expected to maintain my account security?

	ul
		li You will choose authentication and identification methods that you are reasonably sure cannot be guessed by any other individual to allow access
			| to your account.
		li You will not allow another individual access to your account. If you do, you agree to be held bound by any actions they make on your behalf whether
			| their access was intentional or accidental. This includes giving out your password or other credentials, or leaving a yourself logged in on
			| a shared or public computer.

	h4 Am I allowed to disable my account?

	p You may disable access to your account by contacting Network Support. Once disabled, the only way to re-enable the account is by contacting Network Support
		| again. Should you have any applications that are authorized to use your Maelstrom Network resources, their access will immediately stop as if you 
		| revoked the application's access entirely. If you need to use any sevices or access any data 
		| tied to your Maelstrom Network account, you should plan for alternate methods to access those services or data after your account is disabled. We cannot 
		| guarentee any service provides alternate methods to Maelstrom identification should you disable your account, and we are not responsible for warning you
		| of any services you may be using that will be completely inaccessible after disabling your account.

	p If you simply want to disable a certain application from accessing any of your resources, please see below for more information regarding control over what
		| resources are provided to third parties.

	p If you have any subscriptions, they will stop immediately rather than
		| at the end of the current billing period. This 
		em will not
		|  pause your subscription, but will cause it not to renew if it would otherwise renew while your account is disabled.

	p You may also request that your account be permanently deleted. If you do so, we will disable your account immediately, then delete all information
		| regarding your account after 14 days during which you can cancel deletion or request the account be re-enabled. 
		| After the deletion is completed, there will be no way for us to recover your account. If you permanently delete all 
		| information regarding your account, you may create a new account, but it will have no access to any resources of your previous
		| account. Certain services may have the capabilities to transfer access to a new Maelstrom account but this is not under our control.

	p Due to the drastic nature of deleting your account, we suggest you disable your account if neccesary and only delete your account in incredibly extreme
		| circumstances. If you wish to discuss your concerns and why you wish to delete your account, please contact Network Support.

	h4 What are third party applications?

	p Third party applications are independently developed and maintained and are not directly controlled by the Maelstrom Network. They may provide functionality
		| based on your Maelstrom login, such as using your Maelstrom login to log you in to their services or providing access to information or resources on
		| your behalf. While providing any information to these applications is entirely optional from our standpoint, they may elect not to provide you with 
		| access to their services without that information. Maelstrom Network has no control over what conditions third parties provide their services under. 
		| Your use of those services are subject to the services' own terms and conditions and are not covered by this document.

	h4 What is provided to applications or websites?

	p Applications and web sites that are connected to the Maelstrom Network may request access to your information or resources. This request will be presented
		| to you for your approval via the Malestrom Network website. No third party has the ability nor permission to authorize access to your information
		| on your behalf. 

	p The most basic level of information provided when you connect to an application (or web site) is simply an identifier unique to both you and the application. This
		| identifier alone cannot be used to track your activity across applications, though web sites may be able to track you by other means outside of the
		| Maelstrom Network. Applications are able to request additional access from you during the initial connection request or at a future time. You
		| are under no obligation from the Maelstrom Network to provide that access when requested and you can choose not to provide access to some or all of the
		| requested resources.

	p Application or web site developers wishing to connect to the Maelstrom Network are under 
		a(href="/devterms", target="_blank") special restrictions
		|  regarding their use of your resources.

	h4 How can I control what resources provided to third parties?

	p So long as an application is authorized by you to access your resources, it may request updated information regarding those resources. Resources may include
		| files, subscriptions, or personal information such as your name. You may control what applications have access to what resources from the 
		a(href="/apps", target="_blank", target="_blank") Manage Applications
		|  page. From there, you may revoke access to individual resources or an application altogether. Revoking access to an application altogether will by nature
		| revoke that applications' access to any of your resources.

	p When revoking access to resources, applications will immediately lose any access to the resource they gained through the Maelstrom Network. Any request for
		| those resources or information regarding them will be responded to with notification they are no longer allowed to access that resource. Note that
		| in many cases, however, the application may have stored the resources or information about them. It is not technically possible to force the third
		| party to delete that information and you must refer to the third party service's own Terms and Conditions to determine if that information will
		| be retained.

	h4 What happens if I cancel a subscription?

	p If subscription service offers a free trial and you are still within the free trial period, your subscription will be cancelled immediately and you will not
		| be charged. Note we will closely monitor cases of repeatedly signing up for free trials and cancelling during the trial period. In the case of obvious
		| abuse of this system to get around paying for services, you may be prevented from signing up for additional free trials.

	p If you cancel a paid subscription plan, you will remain subscribed until the end of the current agreed plan but the subscription will not recur and you will not
		| recieve any further charges. If you desire a refund and are unable to come to an amicable agreement with the third party, you may contact our Network
		| Support and explain your problem. If neccesary, the Maelstrom Network will arbitrate the situation. If we determine the third party was wilfully  
		| or grossly deficient in providing agreed services in exchange for your payment, will return the money to your account.

	p Due to the nature of how we pay subscription providers, we do not at this time pro-rate subscriptions.

	h4 Under what circumstances might my account be disabled?

	p If you violate this document in letter or intent we may restrict or disable your access to the Maelstrom Network. We may also disable your account if
		| your continued usage of the Network creates undue risk or legal concerns for us. In the event we enact any of these actions, we will attempt to contact
		| you and provide notice when you next log in. Should we reach an amicable agreement regarding your continued use of our services, we will 
		| enable access to your account again. We reserve the right to enforce additional provisons on our resuming service to you after disabling your account.

	h4 What happens if someone brings claim against the Maelstrom Network regarding a users' use of the Network?

	p If anyone brings claim against us related to your actions or use of the network, you agree to idemnify and hold us harmless from and against all damages,
		| losses, and expenses of any kind, including reasonable legal fees, related to such claim. We cannot be held responsible for the actions for any
		| unlawful or objectionable use of our services nor are responsible for the behavior of any user or third party application.

	h4 What happens if an error or attack on the Maelstrom Network affects me?

	p While we certainly wish to keep our Network secure and error-free, your use of our services are at your own risk. We are providing the Maelstrom Network with
		| no express or implied warranties including but not limited to any warranty of fitness for a particular purpose. We cannot guarantee that the network
		| will always be secure, error-free, and fully operational. There may be periods from time to time where part or all of the service may be affected by
		| delays, disruptions, or errors. We are not responsible for the actions of third parties utilization of any data they may recieve from our Network or other
		| actions they may take directly or indirectly related to our services and you agree not to hold us responsible for any claim that may arise from your
		| utilization of a third party's services. 
	p You agree not to hold the Maelstrom Network or Project Maelstrom responsible for any damages or lost profits related to any error or attack on the 
		| Maelstrom Network, or any other provision of this document.


	h4 How can I pursue a legal claim against the Maelstrom Network?
	
	p We certainly hope we are able to resolve any dispute you may have without involvement of the Courts. However, you agree that should the need arise, you will
		| resolve any claim, cause of action, or dispute you have with this document or your use of the Maelstrom Network exclusively in a state or federal court in
		| Travis County, Texas. The laws of the State of Texas will govern this document as well as any claim that may arise between you and us. Your use of the
		| network and creation of an account binds you to submit to personal jurisdiction of the courts located in Travis County, Texas for the purposes of
		| litigating any such claims.

	h4 Other information
	ul
		li This document makes up the entire agreement between both parties unless previously agreed to by both parties in writing.
		li Failure on our part to enforce the provisions of this document cannot be interpreted as permission to engage in any activity contrary to 
			| any provisions in this document.
		li If any part of this document is found to be unenforcable, the rest of the document shall remain in full effect.
		li Nothing in this document shall prevent us from complying with applicable law.		
