extends base

block title
	title 4 oh 4

block append nav
	a.item(href="/charybdis").selected Charybdis

block content

	h1 Sorry. Not found.

	p If you're looking for buried treasure, you're in the wrong place.
	
	p.hint URL #{url} doesn't exist. Not sure what happened. Sorry!

	.return
		a(href="/").button.affirmative.major Get back on track...
