extends base

block append scripts
	script(type="text/javascript", src="/js/applist.js")

block prepend nav
	- var location = "Manage"

block content
	h3 Authorized applications

	if applications.length
		p You've given us permission to release your name and login status to the following applications. To revoke access to any
			| individual application, just click the "Revoke" button next to the application name. The application will immediately lose 
			| access to any data stored or accessed through the Maelstrom Network. You can always re-visit the application at any time to authorize
			| the application again.
		
		.applist
			for application in applications
				.application
					.revoke.pull-right
						a#ShowDetails.button.positive(href="#") Details
						a.button.negative(href="/apps/revoke/" + application.permission.id) Revoke
					h4.name= application.name
					.permissions.hidden This application knows:
						ul
							li An identifier unique to this application 
								span.hint (This permission cannot be revoked.)
							for permission in application.permission.permissions
								li #{permission.getDescription()}
									a.button.minor.negative(href="/apps/revokePermission/" + application.permission.id + "/" + permission.id) Revoke

	else
		p You have no authorized applications! Why don't you try visiting our 
			a(href="http://nodetest.projectmaelstrom.com") test application 
			| to see how the authorization process works?