extends base

block prepend nav
	- var location = "Home";

block content

	h3 Welcome to the Maelstrom Network

	p Thanks for signing up for Project Maelstrom and the Maelstrom Network prototype. Navigate on the left to edit your profile, manage applications which
		| know your information, or begin to develop your own applications. More information, help, and user support will be available soon.

	p Refer to the 
		a(href="http://www.projectmaelstrom.com/") Project Maelstrom homepage
		|  for more information about Project Maelstrom, the network, and our future roadmap. We've got big plans and a lot of work ahead of us.
	
	blockquote Make no little plans, they have no magic to stir men's blood and will not be realized. Make big plans; aim high in hope and work, 
		| remembering that a noble and logical plan never dies, but long after we are gone will be a living thing.
		br
		b -Lita Bane

	p.hint Interesting stats for geeks: As of September 27
		sup th
		| , the network consists of over 1,600 lines of Javascript (not including packages), 1,200 lines of Jade templates, and 280 lines of LESS styling.
