extends base

block styles
	mixin style('login')

block content
	h3 Hello there, #{user.name}!

	.leftBlurb
		if messages.emailTaken
			p
				strong Whoops... that email is already taken by another account.
				|  Do you perhaps already have a Maelstrom account? If so, click "No, delete my information" and log into your existing
				| account with another method, then link the account.
			p Part of the concept of Maelstrom is that you only ever need one account for your entire online life. There's no need to ever create
				| multiple Maelstrom accounts!
		if messages.emailInvalid
			p
				strong Whoops... that email looks invalid.
		unless messages.emailInvalid || messages.emailTaken
			p
				strong It looks like this is your first time logging in.
				|  We've automatically created a Maelstrom account for you. If you've never heard of Maelstrom, and want some more information
				| before you continue, why don't you 
				a(href="/pledge", target="_blank") read our pledge.
			p 
				strong If you already have a Maelstorm account 
				|  and meant to link this login to your existing account instead of creating a new one, click 
				em "No, delete my information"
				|  and log into your existing account with another method, then link the account.
		p
			form#EmailForm(method="POST", action="/newuser/confirm")
				input(type="hidden", name="_csrf", value=token)
				label(for="email") Email 
					span.hint (suggested)
					| : 
				input(name="email", value=messages.emailPrefill)
				.hint We'd love to send you an email describing the Maelstrom Network in more detail, so you can read it later
					| and get on with your business now.

				input.button.affirmative.major(type="submit", value="Yes, create my account!")
				a.button.negative.minor(href="/newuser/decline/") No, delete my information

		.hint Creating your account implies you have read and agree to our 
			a(href="/terms", target="_blank") Terms and Conditions
			| . Please read carefully before creating an account. If you do not agree to the terms,
			| please click "No, delete my information" above.

	.rightBlurb
		p If creating a new account is not what you meant to do, we can delete it and pretend it never happened.
			| You won't be able to log into any applications at this time, but we won't remember any of your data from this login.
			| If you do want your account, however, we want to make sure we're out of your way. We recommend you enter your email address below.
			| We'll send you a one-time email to remind you about Maelstrom, provide some more information and helpful links, and provide a link
			| to confirm your email address. 
		p No pressure to give us your email just yet, but we know you're busy and don't want to read all this right now
			| and don't want you to forget. In the meantime, you'll be up and running with whatever it is you're doing. 
			| So what are you waiting for, lets get started!
